@inherits LayoutComponentBase

<div class="page">
    <NicolasQuiPaieWeb.Components.Shared.UnderConstructionBanner />
    <NicolasQuiPaieWeb.Components.Shared.ReadOnlyModeBanner />
    <NicolasQuiPaieWeb.Components.Layout.NavMenu />
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Une erreur s'est produite. Cette application peut ne plus répondre jusqu'à ce qu'elle soit rechargée.
    <a href="" class="reload">Recharger</a>
    <a class="dismiss">🗙</a>
</div>
